# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# APP_URL: The URL where this applet is hosted.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"

# Supabase Credentials:
# URL of your Supabase project (e.g. https://xyz.supabase.co)
SUPABASE_URL="https://elgfvxfmuudnwrvzlvlm.supabase.co"
# Anon/Client API Key of your Supabase project
SUPABASE_KEY=""

# Google Credentials (Frontend):
VITE_GOOGLE_CLIENT_ID="489261219256-hetrtre1i87inh1q64qtjj9aig81jl22.apps.googleusercontent.com"
